<app-navbar></app-navbar>
<div class="flex justify-center font-ibm w-full bg-[#F4F4F9]  h-[calc(100vh-72px)]">
	<div class="flex flex-col min-[1030px]:flex-row w-full min-[1030px]:m-[30px] min-[1030px]:justify-center">
		<div class="flex flex-col my-[30px] min-[1030px]:my-[0px]">
			<div class="flex rounded-[30px] justify-center min-[1030px]:mb-[18px] min-[1030px]:mr-[40px]">
				<!-- Your SVG content -->
				<ng-container *ngIf="card.role == 'business'; else elseTemplate">
					<div class="w-[351px] h-[200px] px-[20px] py-[16px] rounded-[12px]" [style.background-image]="'url(' + bg_card() + ')'">
						<div class="flex flex-col justify-between w-full h-full">
							<p class="text-[16px] font-medium leading-[32px] text-[#FFFFFF]">{{card.name}}</p>
							<div class="flex divide-x divide-white">
								<div class="w-[239px]">
									<p class="text-[14px] font-normal tracking-[0.1px] text-[#FFFFFF]">Available Balance (Baht)</p>
									<p class="text-[34px] font-medium text-[#FFFFFF]">{{card.balance | number: '1.2-2'}}</p>
								</div>
								<div class="w-14 pl-4">
									<p class="text-[14px] font-normal tracking-[0.1px] text-[#FFFFFF]">Coupons</p>
									<p class="text-[34px] font-medium text-[#FFFFFF]">{{card.coupon}}</p>
								</div>
							</div>
							<div class="flex justify-between h-[22px] items-center">
								<div class="flex">
									<img (click)="clickForUpdateTime()" class="w-[18px] hover:cursor-pointer" src="../../../../assets/images/logo/card/refresh_icon.svg" alt="">
									<p class="text-[14px] font-normal tracking-[0.1px] text-[#FFFFFF]">Updated at {{card.update}}</p>
								</div>
								<div>
									<img class="w-[100px]" [src]="text_card()" alt="">
								</div>
							</div>
						</div>
					</div>
				</ng-container>
				<ng-template #elseTemplate>
					<div class="w-[351px] h-[200px] px-[20px] py-[16px] rounded-[12px]" [style.background-image]="'url(' + bg_card() + ')'">
						<div class="flex flex-col justify-between w-full h-full">
							<p class="text-[16px] font-medium leading-[32px] text-[#FFFFFF]">{{card.name}}</p>
							<div>
								<p class="text-[14px] font-normal tracking-[0.1px] text-[#FFFFFF]">Available Balance (Baht)</p>
								<p class="text-[34px] font-medium text-[#FFFFFF]">{{card.balance | number: '1.2-2'}}</p>
							</div>
							<div class="flex justify-between h-[22px] items-center">
								<div class="flex">
									<img (click)="clickForUpdateTime()" class="w-[18px] hover:cursor-pointer" src="../../../../assets/images/logo/card/refresh_icon.svg" alt="">
									<p class="text-[14px] font-normal tracking-[0.1px] text-[#FFFFFF]">Updated at {{card.update}}</p>
								</div>
								<div>
									<img class="w-[100px]" [src]="text_card()" alt="">
								</div>
							</div>
						</div>
					</div>
				</ng-template>
	  		</div>
			<div class=" hidden min-[1030px]:block">
				<button class="flex items-center py-[8px] text-[#990033]" (click)="backto()">
					<img src="assets/images/logo/back_icon.svg" alt="">
          <p class="flex items-center text-lg font-medium mb-[2px]">BACK</p>
				</button>
			</div>
		</div>

		<div class="bg-white rounded-t-[20px] py-[20px] h-[100%] min-[1030px]:rounded-[20px] min-[1030px]:py-[30px] min-[1030px]:h-fit min-[1030px]:w-[595px]">
			<div class="flex justify-between px-[16px] min-[1030px]:px-[30px]">
				<p class="text-[#002755] text-[23px] font-medium min-[1030px]:w-min-[331px]">Top-up</p>
				<div class="flex items-center">
					<p class="text-[#84776E] text-[12px] font-normal">Secure by K-Payment Gateway</p>
					<img class="w-[32px] h-[32px]" src="../../../../assets/images/logo/Logo_bank.svg"  alt="Logo">
				</div>
			</div>
			<p class="text-[#32373D] text-[16px] font-normal mb-[16px] px-[16px] min-[1030px]:px-[30px]">Method: Promptpay</p>
			<div class="grid grid-cols-1 justify-center items-center">
				<div class="bg-[#1A3761] bg-repeat-x min-[1030px]:bg-no-repeat flex justify-center">
					<img src="assets/images/logo/Logo_qr_header.png" alt="header" class="h-[38px] w-[96px]">
				</div>
				<div class="flex flex-col items-center">
					<img class="w-[241px] h-auto mt-2" src="assets/images/logo/Logo_header_promptpay.png"  alt="Logo">
					<img class="w-[177px]" [src]="img_qr" alt="QR code">
				</div>
				<p class="text-[23px] text-[#4CAF50] font-medium text-center mb-2">฿{{amountTopup | number: '1.2-2'}}</p>
				<p class="text-[20px] text-[#32373D] font-medium text-center mb-2">{{cardName}}</p>
				<div class="text-center">
					<span class="text-[16px] text-[#FF5252] font-normal">* </span><span class="text-[16px] text-[#32373D] font-normal">Open Mobile Banking application for</span>
					<p class="text-[16px] text-[#32373D] font-medium">Scan QR Code or Screen Capture to top up.</p>
				</div>
			</div>
		</div>
	</div>
</div>
