<div class="w-full rounded-xl">
  <!-- Transaction Details Header -->
  <div class="flex justify-between items-center m-4 ">
    <p class="font-medium text-[#002755] text-xl">Transaction Details</p>
    <button (click)="onClose()">
      <img src="assets/images/logo/X.svg" alt="">
    </button>
  </div>
  <div class="border-b border-[#DED7D1]"></div>

  <!-- Transaction Details Content -->
  <ng-template [ngIf]="data_type === 'Paid'" [ngIfElse]="topUpTemplate">
    <!-- Paid Transaction Template -->
    <div class="flex justify-between">
      <!-- Left Content -->
      <div class="flex p-4 items-center">
        <div>
          <img class="w-[50px]" src="assets/images/transactions/paid.svg">
        </div>
        <div class="flex flex-col items-start px-2">
          <p class="text-lg font-medium">{{data_shopname}}</p>
          <p class="text-md font-normal text-[#32373D]">{{data_date}} {{data_time}}</p>
        </div>
      </div>
      <!-- Right Content -->
      <div class="flex p-4 items-center justify-end">
        <p class="text-xl" [style.color]="'#FF5252'">{{data_balance | number:'1.2-2'}}</p>
      </div>
    </div>
    <div class="border-b border-[#DED7D1]"></div>
    <!-- Payment Method -->
    <div class="flex justify-between p-4">
      <p>Payment Method</p>
      <p>{{data_channel}}</p>
    </div>
    <!-- Grid Headers -->
    <div class="grid grid-cols-12 w-full p-4 bg-[#DED7D1] text-[#84776E]">
      <p class="col-span-5">Order</p>
      <p class="col-span-2 grid justify-items-end">Qty</p>
      <p class="col-span-2 grid justify-items-end">Price</p>
      <p class="col-span-3 grid justify-items-end">Total (Baht)</p>
    </div>
    <!-- Transaction Items -->
    <ng-container *ngFor="let item of data_list; let k=index">
      <div class="grid grid-cols-12 w-full px-4 py-2 border-t-[0.5px]">
        <p class="col-span-5">{{item.order}}</p>
        <p class="col-span-2 grid justify-items-end">{{item.amount}}</p>
        <p class="col-span-2 grid justify-items-end">{{item.price}}</p>
        <p class="col-span-3 grid justify-items-end">{{item.total}}</p>
      </div>
    </ng-container>
  </ng-template>

  <!-- Top-Up Transaction Template -->
  <ng-template #topUpTemplate>
    <div class="flex justify-between">
      <div class="flex p-4 items-center">
        <div *ngIf="data_type == 'Refund'">
          <img class="w-[50px]" src="assets/images/transactions/paid.svg">
        </div>
        <div *ngIf="data_type != 'Refund'">
          <img class="w-[50px]" src="assets/images/transactions/top_up.svg">
        </div>
        <div class="flex flex-col items-start px-4">
          <p class="text-lg font-medium">{{data_type}}</p>
          <p class="text-md font-normal text-[#32373D]">{{data_date}} {{data_time}}</p>
        </div>
      </div>
      <div class="flex p-4 items-center justify-end">
        <p class="text-xl" [ngStyle]="{'color': data_balance < 0 ? '#FF5252' : '#4CAF50'}">{{data_balance | number:'1.2-2'}}</p>
      </div>
    </div>
    <div class="border-b border-[#DED7D1]"></div>
    <!-- Top-Up Method -->
    <div class="flex justify-between">
      <div class="flex p-4 pb-2 items-center">
        <div class="flex flex-col items-start px-2">
          <p class="text-lg font-normal text-[#32373D]">Top-up via</p>
        </div>
      </div>
      <div class="flex p-4 pb-2 items-center">
        <div class="flex flex-col items-start px-2">
          <p class="text-lg font-normal text-[#32373D]">{{data_channel}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="data_channel == 'CREDIT'" class="flex justify-between">
      <div class="flex px-4 pt-0 pb-1 items-center">
        <div class="flex flex-col items-start px-2">
          <p class="text-lg font-normal text-[#32373D]">Reference Number</p>
        </div>
      </div>
      <div class="flex px-4 pt-0 pb-1 items-center">
        <div class="flex flex-col items-start px-2">
          <p class="text-lg font-normal text-[#32373D]">{{data_referenceOrder}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="data_channel == 'CREDIT'" class="flex justify-between">
      <div class="flex px-4 pt-1 pb-1 items-center">
        <div class="flex flex-col items-start px-2">
          <p class="text-lg font-normal text-[#32373D]">Card Number</p>
        </div>
      </div>
      <div class="flex px-4 pt-1 pb-1 items-center">
        <div class="flex flex-col items-start px-2">
          <p class="text-lg font-normal text-[#32373D]">{{data_cardMasking}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="data_channel == 'CREDIT'" class="flex justify-between">
      <div class="flex px-4 pt-1 pb-1 items-center">
        <div class="flex flex-col items-start px-2">
          <p class="text-lg font-normal text-[#32373D]">Card Brand</p>
        </div>
      </div>
      <div class="flex px-4 pt-1 pb-1 items-center">
        <div class="flex flex-col items-start px-2">
          <p class="text-lg font-normal text-[#32373D]">{{data_brand}}</p>
        </div>
      </div>
    </div>
  </ng-template>
</div>





