<nav class="bg-white h-78 px-4 py-1">
  <div class="flex items-center justify-between mx-auto">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex items-center justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-8 w-auto" src="assets/images/logo/schooney_logo.svg" alt="Your Logo">
        </div>
      </div>
    </div>

    <div class="flex items-center">
      <div class="flex">
        <button class="mx-2 language-button">TH</button>
        <p class="mx-2">|</p>
        <button class="mx-2 language-button">EN</button>
      </div>
      <div class="mx-4">
        <p class="border-r-2 h-[48px] border-[#BFB5AC]"></p>
      </div>
      <div class="button-container">
        @if (!loginDisplay) {
          <button class="flex justify-center items-center rounded-full w-[100px] h-[48px] border-2 border-[#990033] text-lg text-[#8A2938] font-normal" [matMenuTriggerFor]="loginMenu">LOG IN</button>
          }
          <mat-menu #loginMenu="matMenu">
            <button mat-menu-item (click)="loginRedirect()">Login using Redirect</button>
            <button mat-menu-item (click)="loginPopup()">Login using Popup</button>
          </mat-menu>

          @if (loginDisplay) {
            <button class="flex justify-center items-center rounded-full w-[100px] h-[44px] border-2 border-[#990033] text-md text-[#8A2938] font-medium" [matMenuTriggerFor]="logoutMenu">LOG OUT</button>
          }
          <mat-menu #logoutMenu="matMenu">
            <button mat-menu-item (click)="logout()">Logout using Redirect</button>
            <button mat-menu-item (click)="logout(true)">Logout using Popup</button>
          </mat-menu>
      </div>
    </div>
  </div>
</nav>





