<div class="relative flex-col flex overflow-y-auto overflow-x-hidden h-full w-full">
    <mat-toolbar class="flex justify-center">
        <div>
            <span class="font-bold text-[20px]">เพิ่มบัตร Debit/Credit</span>
        </div>
        <button mat-icon-button mat-dialog-close class="example-icon absolute top-0 right-0 bg-[#808080]" aria-label="Example icon-button with menu icon">
            <p class="leading-none">x</p>
        </button>
    </mat-toolbar>
    <div class="flex justify-between flex-col">
        <div class="flex justify-center">
            <form class="flex flex-col pt-2 bg-card"
                [formGroup]="form">
                <div class="grid grid-cols-1 w-full gap-6">
                    <div class="relative h-11 w-full">
                        <input placeholder="Static" class="peer h-full w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" />
                        <label class="after:content[' '] pointer-events-none absolute left-0  -top-2.5 flex h-full w-full select-none !overflow-visible truncate text-sm font-normal leading-tight text-gray-500 transition-all after:absolute after:-bottom-2.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-gray-500 after:transition-transform after:duration-300 peer-placeholder-shown:leading-tight peer-placeholder-shown:text-blue-gray-500 peer-focus:text-sm peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:after:scale-x-100 peer-focus:after:border-gray-900 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                          Name on Card
                        </label>
                    </div>
                    <div class="relative h-11 w-full">
                        <input placeholder="•••• •••• •••• ••••" class="peer h-full w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" />
                        <label class="after:content[' '] pointer-events-none absolute left-0  -top-2.5 flex h-full w-full select-none !overflow-visible truncate text-sm font-normal leading-tight text-gray-500 transition-all after:absolute after:-bottom-2.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-gray-500 after:transition-transform after:duration-300 peer-placeholder-shown:leading-tight peer-placeholder-shown:text-blue-gray-500 peer-focus:text-sm peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:after:scale-x-100 peer-focus:after:border-gray-900 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                          Card Number
                        </label>
                    </div>
                    <div class="grid grid-cols-2 gap-[20px] ">
                        <div class="relative h-11 w-full]">
                            <input placeholder="MM / YY" class="peer h-full w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" />
                            <label class="after:content[' '] pointer-events-none absolute left-0  -top-2.5 flex h-full w-full select-none !overflow-visible truncate text-sm font-normal leading-tight text-gray-500 transition-all after:absolute after:-bottom-2.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-gray-500 after:transition-transform after:duration-300 peer-placeholder-shown:leading-tight peer-placeholder-shown:text-blue-gray-500 peer-focus:text-sm peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:after:scale-x-100 peer-focus:after:border-gray-900 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                              Card Number
                            </label>
                        </div>
                        <div class="relative h-11 w-full">
                            <input placeholder="•••" class="peer h-full w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" />
                            <label class="after:content[' '] pointer-events-none absolute left-0  -top-2.5 flex h-full w-full select-none !overflow-visible truncate text-sm font-normal leading-tight text-gray-500 transition-all after:absolute after:-bottom-2.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-gray-500 after:transition-transform after:duration-300 peer-placeholder-shown:leading-tight peer-placeholder-shown:text-blue-gray-500 peer-focus:text-sm peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:after:scale-x-100 peer-focus:after:border-gray-900 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                              Card Number
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="absolute flex justify-center bg-white bottom-0 w-full">
            <div mat-dialog-actions class="flex justify-end" (click)="nextto()">
                <button class="text-[22px] font-medium px-20 py-3 rounded-[20px] bg-[#4CAF50] text-white">
                    {{data.value}}
                </button>
            </div>
        </div>
    </div>
</div>
<!--<form method="POST" action="/top-up/success">
		<script type="text/javascript"
			src="https://kpaymentgateway.kasikornbank.com/ui/v2/kpayment.min.js"
			data-apikey="pkey_prod_9929s93IlIbSmViDgW4eqjcqlnbT3JOWVrXB"
			data-amount="100.00"
			data-currency="THB"
			data-payment-methods="card"
			data-name="BANGKOK PATANA SCHOOL"
			data-mid="401012208444001">
		</script>
	</form>-->
