<div class="flex flex-col w-full h-screen font-ibm font-medium">
  <nav class="bg-white h-78 px-4 py-1 w-full">
    <div class="flex items-center justify-between mx-auto">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex items-center justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="h-8 w-auto" src="assets/images/logo/schooney_logo.svg" alt="Your Logo">
          </div>
        </div>
      </div>
      <!-- <div class="flex items-center">
        <div class="flex">
          <button class="mx-2 language-button font-normal">TH</button>
          <p class="mx-2 font-normal">|</p>
          <button class="mx-2 language-button font-normal">EN</button>
        </div>
      </div> -->
    </div>
  </nav>
  <div class="h-full flex flex-col justify-center items-center mb-72 md:mb-[196px]">
    <div class="flex flex-col md:flex-row items-center py-8">
      <img class="w-[102px] h-[120px] md:w-[112px] md:h-[132px]" src="assets/images/logo/patana_logo.svg" alt="">
      <div class="flex flex-col items-center md:items-start px-4 pt-4 md:pt-0">
        <p class="text-3xl font-medium text-[#002755]">Log In</p>
        <p class="text-[#616161] font-normal">Bangkok Patana School</p>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <button class="flex justify-center items-center rounded-full w-[351px] h-[52px] md:w-[490px] md:h-[52px] border-2 border-[#32373D] text-md " (click)="loginRedirect()">
        <img src="assets/images/logo/microsoft.svg" alt="">
        <p class="ps-2">Continue with Microsoft</p>
      </button>
    </div>
  </div>
</div>
